ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #da76b0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color to #aad7ee on hover */
li a:hover {
  background-color: rgb(147, 238, 245);
  color: rgba(248, 10, 141, 0.904);

 
