/* Menu Opmaak */
.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background: #FFAC33; /* Oranje achtergrond */
    border: 1px solid #FFAC33; /* Oranje rand */
    border-radius: 5px; /* Afgeronde randen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schaduw */
}

.third-level-menu > li
{
    height: 30px;
    background: #FFD699; /* Oranje achtergrond */
    border-bottom: 1px solid #FFAC33; /* Oranje rand aan de onderkant */
}
.third-level-menu > li:hover { background: #FFAC33; /* Oranje achtergrond bij hover */ }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background: #FFAC33; /* Oranje achtergrond */
    border: 1px solid #FFAC33; /* Oranje rand */
    border-radius: 5px; /* Afgeronde randen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schaduw */
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #FFD699; /* Oranje achtergrond */
    border-bottom: 1px solid #FFAC33; /* Oranje rand aan de onderkant */
}
.second-level-menu > li:hover { background: #FFAC33; /* Oranje achtergrond bij hover */ }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 50%;
    background: #FFAC33; /* Oranje achtergrond */
    border-right: 1px solid #FFD699; /* Lichtoranje rand aan de rechterkant */
}
.top-level-menu > li:hover { background: #FFD699; /* Lichtoranje achtergrond bij hover */ }

.top-level-menu li:hover > ul
{
    /* Bij hover, het volgende niveau menu weergeven */
    display: inline;
}

/* Menu Link Opmaak */
.top-level-menu a
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFD699; /* Lichtoranje tekstkleur */
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #FFAC33; /* Oranje tekstkleur bij hover */ }

/* Grote Titel Opmaak */
.grote-titel {
    font-size: 32px;
    font-weight: bold;
    color: #FFAC33; /* Oranje tekstkleur */
}

