/* Third Level Menu */
.third-level-menu {
  position: absolute;
  top: 0;
  right: -150px;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.third-level-menu > li {
  height: 30px;
  background: #FFD6D6; /* Pastel Pink */
}

.third-level-menu > li:hover {
  background: #FFB3B3; /* Lighter Pink on Hover */
}

/* Second Level Menu */
.second-level-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.second-level-menu > li {
  position: relative;
  height: 30px;
  background: #FFB3E6; /* Pastel Purple */
}

.second-level-menu > li:hover {
  background: #FF99D9; /* Lighter Purple on Hover */
}

/* Top Level Menu */
.top-level-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-level-menu > li {
  position: relative;
  float: left;
  height: 30px;
  width: 50%;
  background: #FFC3A0; /* Pastel Orange */
}

.top-level-menu > li:hover {
  background: #FFA080; /* Lighter Orange on Hover */
}

/* Menu Link Styles */
.top-level-menu a {
  font: bold 16px 'Arial', sans-serif; /* Larger and sans-serif font */
  color: #333333; /* Darker text color */
  text-decoration: none;
  padding: 0 0 0 10px;
  display: block;
  line-height: 30px;
}

.top-level-menu a:hover {
  color: #FF6B6B; /* Pink on Hover */
}

/* Image Styles */
img {
  width: 350px;
  height: 200px;
  float: right;
  margin-left: 20px;
}

/* Header Styles */
.kopje {
  font-family: 'Pacifico', cursive; /* A cute, handwritten font */
  background-color: #FFECB3; /* Pastel Yellow */
  color: #E57373; /* Lighter Red Text */
  padding: 10px;
}